@media only screen and (max-width: 1400px) {
  .search, .cart, .user {display: none;}
}

@media only screen and (min-width: 860px) {
  .trigger_menu {display: none;}
  .sideMenu {display: none;}
}

@media only screen and (max-width: 860px) {
  .ms_nav li:nth-child(1), .ms_nav li:nth-child(2) {
    display: none;
  }

  .logo {
    position: absolute;
    top: 16px;
    left: calc(50% - 95px);
  }

  .nav_link {
    display: none;
  }

  .trigger_menu {
    margin-left: 15px;
  }

  .ms_nav li:last-child {
    padding-right: 16px;
  }

  .cancel-btn, .searchBar {
    display: none;
  }

  .viewport860 {
    display: block;
  }

  .searchBar {
    display: none;
  }

  .cartHover {
    right: 50px;
  }

  .footerLink {
    flex-direction: column;
  }

  .footerLink ul {
    margin-bottom: 45px;
  }
  .title--SectionB {
    margin: -35px 15px;
  }
}

@media only screen and (min-width: 560px) and (max-width: 1024px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    /* margin-top: 25px; */
    margin-bottom: 15px;
  }
  .card_app {
    width: 100%;
  }
  .title--SectionB {
    margin: -25px 35px;
  }
}

@media only screen and (min-width: 1024px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 65px; */
    margin-bottom: 15px;
  }
  .card_app {
    width: 100%;
  }
}

