/* Core Style */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Segoe UI',SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.5;
    font-size: 15px;
    font-weight: 400;
    overflow-x: hidden;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.flex_inline {
  display: inline;
}

.flex_column {
  display: flex;
  flex-direction: column;
}

.flex_row {
  display: flex;
  flex-direction: row;
}

.text_break_keep_all {
  word-break: keep-all;
}

.list_style_none {
  list-style-type: none;
}

.text_center {
  text-align: center;
}

.text_justify {
  text-align: justify;
}

.text_left {
  text-align: left;
}

.text_right {
  text-align: right;
}

.grid_3_column {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.flex_wrap {
  display: flex;
  flex-wrap: wrap;
}

/* All styles */

header {
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.li_cont {
  padding: 16px 8px 16px 10px;
}

.li_cont a {
  text-decoration: none;
  color: #333;
}

.li_cont a:hover {
  text-decoration: underline;
}

.logo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
  margin-right: 16px;
}

.ms_btn {
  border: none;
  background: transparent;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-family: 'Segoe UI',SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.5;
  color: #333;
}

.btnBorder {
  border-top: 2px dotted #333;
  border-left: 2px dotted #333;
  border-right: 2px dotted #333;
  background-color: #efefef;
}

.ms_nav li:last-child {
  padding-right: 40px;
}

.caret_up {
  display: none;
}

.nav_element {
  margin-right: 10px;
}

.menu, .close, .search_btn {
  border: none;
  background-color: transparent;
  padding-right: 10px;
  cursor: pointer;
}

.nav-search {
  width: 100%;
}

.nav-search, .search_cont {
  justify-content: center;
  align-items: center;
}

.search_cont {
  border: 1px solid #333;
  padding: 0 10px;
  width: 70%;
  margin: 8px 0;
}

.search_cont input[type=search] {
  width: 100%;
  border: none;
  height: 36px;
  float: right;
}

.search_cont input[type=search]:focus {
  outline: none;
}

.nav-search .arrow-left {
  margin-right: 4px;
}

.cancel-btn {
  height: 38px;
  border: 1px solid #333;
  padding: 0 16px;
  margin-left: 4px;
  background-color: transparent;
  cursor: pointer;
}

.li_cont, .ms_btn {
  cursor: pointer;
}

.glassHover, .cartHover {
  border: 1px #f2f2f2 solid;
  position: absolute;
  clear: both;
  float: right;
  z-index: 12;
  top: 40px;
  right: 250px;
  padding: 0 2px;
  font-size: 13px;
  background-color: #fff;
  display: none;
  box-shadow: 2px 2px 1px 0.5px #616161;
}

.cartHover {
  right: 155px;
}

.elementHover:hover + .glassHover, .elementHover:hover + .cartHover {
  display: block;
}

.msItems {
  display: none;
}

.myDropdown {
  background-color: rgba(248, 248, 248);
  position: absolute;
  top: 50px;
  right: 40px;
  box-shadow: 0 2px 1px 0 #000;
  z-index: 1;
}

.myDropdown .site {
  padding: 12px 0;
  background-color: #e6e6e6;
}

.dropdown_content div {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: #efefef;
  padding-bottom: 32px;
}

.dropdown_content div span {
  margin-left: 32px;
  margin-top: 18px;
  margin-bottom: 18px;
  text-align: left;
  font-weight: bold;
}

.dropdown_content div a {
  margin: 12px 0 12px 32px;
}

.dropdown_content div:last-child a {
  margin-right: 72px;
}

/* Temporary Style */

.sideMenu {
  background-color: #efefef;
  z-index: 12;
  position: absolute;
  width: 100%;
  border-bottom: #333 solid 1px;
  padding-left: 10px;
}

.sideContent li {
  border-bottom: 1px solid rgba(0,0,0,0.05);
  width: 100%;
  display: flex;
}

.sideContent p {
  padding: 14px 15px 15px 0; 
  color: #333;
}

.map {
  display: flex;
}

.map a {
  text-decoration: none;
  color: #333;
  width: 100%;
  padding: 14px 15px 15px;
}

.sideContent a {
  text-decoration: none;
  color: #333;

  width: 100%;
  padding: 14px 15px 15px;
}

.sideContent:hover {
  cursor: pointer;
}

.sideEl li {
  padding-left: 40px;
}

.elementIcon {
  justify-content: space-between;
  align-items: center;
  padding-right: 24px;
  border-bottom: 1px solid rgba(0,0,0,0.05);
}

.w11 {
  float: left;
  position: absolute;
  top: 200px;
  width: calc(50% - 350px);
  margin-left: 8%;
  color: #ffffff;
}

.iosAndroid {
  float: left;
  position: relative;
  top: -365px;
  width: calc(50% - 350px);
  margin-left: 8%;
  color: #333333;
}

.w11Title, .w11Description {
  margin-bottom: 15px;
}

.title--SectionB {
  position: absolute;
  float: left;
  color: #333;
  margin-left: 38px;
  margin-top: 35px;
}

.w11CalltoAction {
  background-color: #0078d7;
  padding: 10px;
  border-radius: 3px;
  width: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.w11CalltoAction a {
  text-align: center;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.w11CalltoAction:hover {
  background-color: #0067b8;
}


.gallery {
  grid-gap: 1rem;
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
  margin-top: 55px;
}
.card_app {
  margin-bottom: 45px;
}

.card_link li a {
  text-decoration: none;
  color: #0078d7;
  font-weight: bold;
}

.card_link li a:hover {
  text-decoration: underline;
}

.card_description {
  margin-bottom: 15px;
}

.outlook {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.contact {
  margin-bottom: 35px;
}

.contact p, .contact a{
  margin: 15px 5px 15px 40px;
  font-weight: bolder;
  font-size: 18px;
}

.contact a {
  text-decoration: none;
  color: #262626;
}

footer {
  background-color: #e6e6e6;
  color: #262626;
}

footer a {
  text-decoration: none;
  color: #616161;
}

footer a:hover {
  text-decoration: underline;
}

.footerBottom {
  justify-content: space-between;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 33px;
}

.theBottom a {
  padding-left: 25px;
}

.footerLink {
  justify-content: space-between;
  margin-bottom: 135px;
  margin-top: 75px;
  padding-top: 33px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  /* padding-bottom: 50px; */
}

.footerLink li {
  margin-bottom: 7px;
  margin-top: 14px;
}

.footerLink span {
  font-weight: bold;
}

.go-up {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  background-color: #e6e6e6;  
}

.go-up a {
  color: #262626;
  text-decoration: none;
}


@media only screen and (min-width: 1083px) and (max-width: 1345px) {
  .w11 {
    top: 135px;
    width: 50%;
  }
}

@media only screen and (max-width: 1084px) {
  .w11, .iosAndroid {
    top: -50px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    width: 95%;
    margin: auto;
    padding: 25px;
    color: #333;
    background-color: #ffffff;
    /* border: solid 1px #333; */
    box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.57);
    -webkit-box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.57);
  }

  .iosAndroid {
    width: 90%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
  }

    picture {
    display: flex;
    flex-direction: column;
  }

  .title--SectionB {
    margin: -20px 30px;
  }
}

@media only screen and (max-width: 560px) {
  .w11, .iosAndroid {
    width: 100%;
    box-shadow: none;
  }
}